# Data structures
# Dictionaries

In [2]:
d1={"Name":"Gitam","EmailId":"Gitam@gmail.com","Address":"Hyderabad"}
print(d1)

{'Name': 'Gitam', 'EmailId': 'Gitam@gmail.com', 'Address': 'Hyderabad'}

In [5]:
d1["Name"]# to acces specific key

'Gitam'

In [6]:
d1['EmailId']='Gitam-Python@gmail.com'#update the data

In [8]:
del d1['EmailId']#to delete specific key value

KeyError: 'EmailId'

In [9]:
d1#del d1 will delete entire dict obj

{'Name': 'Gitam', 'Address': 'Hyderabad'}

In [11]:
d1.keys()#returns the list keys

dict_keys(['Name', 'Address'])

In [12]:
d1.values()#returns the value

dict_values(['Gitam', 'Hyderabad'])

In [13]:
d1.items()#the lists of tuples of keys and values

dict_items([('Name', 'Gitam'), ('Address', 'Hyderabad')])

## Tuples
-t1 parenthesis() li sqaure brackets[]
-difference between list and tuples
        -list are mutable - can be changed/modified
        .used to access modify,adddelete data
        -tuples are inmutable-cannot be changed
        .used to acess data only

In [14]:
t1=(1,2,3,4,5,6)
t1
type(t1)

tuple

### Contact application
-Add contats
-Search contacts
-List all contacts
  .name1:phone1
  .name2:phone2
-Modify the contacts
-Remove the contacts
-Import the contacts

In [18]:
#Add contacts
contacts={}
def addcontact(name,phone):#creating the dict obj
    if name not in contacts:
        contacts[name]=phone
        print("contacts is details are added")
    else:
        print("contacts details are already exists")
    return
addcontact('rao','9876543123')
addcontact('anil','9898975436')
addcontact('rao','9876543123')

contacts is details are added
contacts is details are added
contacts details are already exists

In [19]:
contacts

{'rao': '9876543123', 'anil': '9898975436'}

In [36]:
#search for contacts details
def searchcontact(name):
    if name in contacts:
        print(name," : ",contacts[name])
    else:
        print("%s does not exists" % name)
    return
searchcontact('rao')
searchcontact('harry')
searchcontact('anil)')

rao  :  9876543123
harry does not exists
anil) does not exists

In [34]:
#import some contacts
#merge the contacts with existing
def importcontacts(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contact added successfully")
    return
newcontacts={'dolly':68978657895,'akash':6789495678}
importcontacts(newcontacts)

2 contact added successfully

In [48]:
#delete a contact
def deletecontact(name,phone):
    if name in contacts:
        contacts[name]
        print(name,"update successfully")
    else:
            print(name,"not exists")
    return
deletecontact('anil',9898875436)
deletecontact('ajay',9886543678)

anil update successfully
ajay not exists

In [50]:
contacts

{'rao': '9876543123',
 'anil': '9898975436',
 'dolly': 68978657895,
 'akash': 6789495678}

# ASSIGNMENT

In [52]:
def reverseFibonacci(n): 
   
    a = [0] * n  
  
    # assigning first and second elements 
    a[0] = 0 
    a[1] = 1 
  
    for i in range(2, n):   
  
        # storing sum in the 
        # preceding location 
        a[i] = a[i - 2] + a[i - 1]  
       
  
    for i in range(n - 1, -1 , -1):   
  
        # printing array in 
        # reverse order 
        print(a[i],end=" ")  
       
   
  
# Driver function 
n = 12 
reverseFibonacci(n)

89 55 34 21 13 8 5 3 2 1 1 0

In [53]:
#*** Function to count the occurances of a character in a string
def repeat(x,target):
    c=0
    for i in x:
        if i==target:
            c+=1
    return c
# (OR)
#def repeat1(x,target):
#    return x.count(target)
n=str(input("enter a string-"))
m=str(input("enter target element-"))
repeat(n,m)

enter a string-HELLO
enter target element-E

1

In [67]:
# 1.python program to print the fibonacci series in the reverse order
def reverseFibonacci(n):
    a = 0 
    b = 1 
    f = [a,b]
    for i in range(2, n):   
        c= a + b
        f.append(c)
        a = b
        b = c
    for i in range(n - 1, -1 , -1):   
        print(f[i],end=" ")
n = int(input("enter a number"))        
reverseFibonacci(n)

enter a number12
89 55 34 21 13 8 5 3 2 1 1 0

In [68]:
# 2. Series Generations 1, 3, 9, 27, 81, ...
a = int(input("enter the end of series"))
s = 1
i = 1
while(s <= a):
    print(s,end=" ")
    s =s*3

enter the end of series81
1 3 9 27 81

In [69]:
# 3. Series Generations:-  1, 2, 4, 8, 16, 32, 64, 128, 256, ...
n = int(input("enter the end of series"))
sum = 1
i = 1
while(sum <= n):
    print(sum,end=" ")
    sum =sum * 2

enter the end of series64
1 2 4 8 16 32 64

In [70]:
# 4. Series Generations:-  1 3 8 15 27 50 92 169 311
n = int(input("enter the end of series"))
s=0
a=1
b=3
c=4
print(a,b,end=" ")
while(s <= n):
    s = a+b+c
    print(s,end=" ")
    a = b
    b = c
    c = s

enter the end of series92
1 3 8 15 27 50 92 169

In [71]:
# 5. Series Generations:-  2 15 41 80 132 197 275 366 470 587
n = int(input("enter the end of series"))
s=0
a=2
i=1
b=0
print(a,end=" ")
while(s <= n):
    b =(13*i)
    s = a + b
    print(s,end=" ")
    a = s
    i=i+1

enter the end of series470
2 15 41 80 132 197 275 366 470 587

In [ ]:
# 6. Series Generations:-  1,9,17, 33,49,73,97
n = int(input("enter the end of series"))
s=0
a=1
i=1
b=0
d=1
print(a,end=" ")
while(s <= n):
    while(d <= 2):
        b =(8*i)
        s = a + b
        print(s,end=" ")
        a = s
        d = d+1
    i = i + 2

enter the end of series97
1 9 17

In [1]:
# 7 The program must accept an integer N the input. 
#The program must print the desired pattern as shown in the
def pattern(n):
    for i in range(len(n)):
        n[i]=int(n[i])
    for i in range(len(n)):
        print("|",end="")
        for j in range(n[i]):
            print("*",end="")
        print("")
    return
x=input("enter num")
pattern(list(x))

enter num5
|*****

In [2]:
#8. Your Program has to read one string as well as one character and 
#you need to remove the all the occurance of the character.

#HebeonTech,e -- HbonTch
def delete(n,target):
    c=0
    for i in range(len(n)):
        if n[i]==target:
            c+=1
    print(n.replace(target,"",c))
n=str(input("enter a string"))
target=str(input("enter a char"))
delete(n,target)

enter a stringARRAY
enter a charA
RRY

In [3]:
# 9. Your Program need to accept two strings and generate the output in merging of both strings.
def comb(a,b):
    c=a+b
    return c 
a=str(input("enter a string "))
b=str(input("enter a string "))
comb(a,b)

enter a string APPLE
enter a string A

'APPLEA'

In [4]:
# 10. Series Generations:-  1, 3, 9, 27, 81, ...
def square(n):
    for i in range(n):
        print(3**i,end=" ")
    return
n=int(input("enter a number"))
square(n)

enter a number12
1 3 9 27 81 243 729 2187 6561 19683 59049 177147

In [5]:
# 11. Series Generations:-  1, 2, 4, 8, 16, 32, 64, 128, 256, ...
def square(n):
    for i in range(n):
        print(2**i,end=" ")
    return
n=int(input("enter a number"))
square(n)

enter a number12
1 2 4 8 16 32 64 128 256 512 1024 2048

In [6]:
# 12. Series Generations:-  1 3 4 8 15 27 50 92 169 311
def series(n):
    a=1
    b=3
    c=a+b
    print(a,b,c,end=" ")
    for i in range (4,n+1):
        d=a+b+c
        a=b
        b=c
        c=d
        print(d,end=" ")
    return
n=int(input("enter a number"))
series(n)

enter a number13
1 3 4 8 15 27 50 92 169 311 572 1052 1935

In [7]:
# 13. Series Generations:-  2 15 41 80 132 197 275 366 470 587
def series(n):
    a=2
    print(a,end=" ")
    for i in range (1,n+1):
        b=a+(13*i)
        print(b,end=" ")
        a=b
    return
n=int(input("enter a number"))
series(n)

enter a number3
2 15 41 80

In [8]:
# 14. Series Generations:-  1! + 2! + 3! + 4! + 5! + ... + n!
def fact(a):
    f=1
    for i in range (1,a+1):
        f*=i
    return f   
def series(m):
    s=0
    for x in range (1,n+1):
        s=s+fact(x)
    return s
n=int(input("enter n"))
series(n)

enter n45

122342346998826717539665299944651784048588130840420940313

### STRING FUNCTION

-upper()--will converts the given string into upper case
-lower()--will converts the given the string into lower case

In [56]:
s1='gitam'
print(s1.upper())
print(s1.lower())

GITAM
gitam

### Boolean function(True or False)
.islower()--true if the tring is lower case/False if the string not in lower case
.isupper()--True if the string inupper case/False if the string not in upper case
.istitle--True if the string follows title case/False
.isnumeric--True if string contains only numbers
.isspace--True if string has spaces

In [57]:
s1='GITAM'
print(s1.islower())
print(s1.isupper())

False
True

In [58]:
s2="python programming"
s3="Python Programming"
print(s2.istitle())
print(s3.istitle())

False
True

In [59]:
s2="Application1234"
s3='PythonProgramming'
print(s2.isalpha())
print(s3.isalpha())

False
True

In [60]:
s2="1234"
s3='PythonProgramming123'
print(s2.isnumeric())
print(s3.isnumeric())

True
False

In [61]:
s2=" "
s3='Python  Programming  123'
print(s2.isspace())
print(s3.isspace())

True
False

STRING METHODS

.join()--method will concatinations the strings
.split()--returns the list of strings sepersted ny whitespace(no parameters are given)

In [62]:
s1='python'
print(" ".join(s1))

p y t h o n

In [63]:
s2="python programming is easy"
print(" ".join(s2))

p y t h o n   p r o g r a m m i n g   i s   e a s y

In [64]:
li=['python','programming','learn']
print(",".join(li))

python,programming,learn

In [65]:
s2="python programming easy to learn"
print(s2.split())

['python', 'programming', 'easy', 'to', 'learn']

In [66]:
s2="python programming easy to learn"
li=list(s2)
print(li)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']