### TRANFORMING CODE INTO IDIOMATIC PYTHON

.REPLACE TRADITONAL INDEX MANUPULATION AND PYTHON CORE LOOPING IDIOMATIC

In [1]:
# Looping over a range of numbers - Traditional Approach
for i in [0,1,2,3,4,5]:
   print(i**2,end=" ")

0 1 4 9 16 25

In [2]:
# Idiomatic Prgramming
for i in range(6):
   print(i**2,end=" ")

0 1 4 9 16 25

In [ ]:
### LOOPING BACKAWARD

In [5]:
colors=['red','green','yellow','purple']
for i in range(len(colors)-1,-1,-1):
        print(colors[i],end=" ")

purple yellow green red

In [7]:
colors=['red','green','yellow','purple']
for colors in sorted(colors,reverse=True):
        print(colors,end=" ")

yellow red purple green

 ### 
-if x<=y and y<=z:
-if x<=y<=z:
-if x==True
-if x:

## PANDAS

In [8]:
import pandas as pd

In [14]:
dt={'Id':[11,12,13,14,15],
    'first_name':['A','B','C','D','E'],
    'company':['aa','bb','cc','dd','ee'],
    'address':['hyd','hyd','hyd','hyd','hyd']}
mydt=pd.DataFrame(dt)

In [16]:
print(mydt)

   Id first_name company address
0  11          A      aa     hyd
1  12          B      bb     hyd
2  13          C      cc     hyd
3  14          D      dd     hyd
4  15          E      ee     hyd